*{
  margin: 0;
  box-sizing: border-box;
}
/* wrapper */
.wrapper{
  height: auto;
  width: 100%;
}

/* header */
.head{
  height: 8vh;
  width: 100%;
  background-color: #4C585B;
  position: fixed;
  z-index: 1;
  color: white !important;
}

.fl{
  float: left;
  margin-left: 2%;
  margin-top: 1%;
}
.fr{
  float: right;
  margin-right: 8%;
  margin-top: 1%;
}
.fr a{
  color: white !important;
  text-decoration: none;
}

.h24{
  display: none;
  visibility: hidden;
}

/* page1 */
.page1{
  width: 100%;
  height: 100vh;
  background-color: #A5BFCC;
  /* background-color: #7E99A3 ; */
}
.text1{
  width: 35%;
  height: auto;
  /* background-color:aqua ; */
  margin-left: 5%;
  position: relative;
  top: 30%;
  float: left;
}
.text1 h2{
  font-size: 2rem;
}
.text1 h1{
  font-size: 5rem;
}
.img1{
  width: 35%;
  height: 40vh;
  /* background-color:aqua ; */
  margin-right: 5%;
  position: relative;
  top: 20%;
  float: right;
}
/* page2 */
.page2{
  width: 100%;
  height: 100vh;
  background-color: #A5BFCC;
}
.bo{
  text-decoration: underline;
  position: relative;
  top: 15%;
  text-align: center;
  color: #7E99A3 !important;
}
.img2{
  width: 35%;
  height: 40vh;
  /* background-color:aqua ; */
  margin-left: 5%;
  position: relative;
  top: 20%;
  float: left;
}
.text2{
  width: 45%;
  height: 70vh;
  /* background-color:aqua ; */
  margin-right: 5%;
  position: relative;
  top: 20%;
  float: right;
}
.text2 h1{
  text-align: center;
}
.text2 h4{
  text-align: justify;
}
.t3{
  height: 5vh;
 width: 20%; 
  margin-left: 35%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #4C585B;
  color: white;
  border: white solid 1px;
}
.t3:hover{
  background-color: lightgrey;
  color: black;
}

/* page3 */
.page3{
  width: 100%;
  height: 50vh;
  background-color: #A5BFCC;
}
.skc1{
  float: left;
  margin-left: 25%;
  height: 35%;
  position: relative;
  top: 35%;
}
.skc2{
  float: left;
  margin-left: 25%;
  height: 35%;
  position: relative;
  top: 35%;
}
.p3{
  top: 30%;
}


/* page4 */
.page4{
  height: 70vh;
  width: 100%;
  background-color: #A5BFCC;
  text-align: center;
}
.col1{
  position: relative;
  top: 17%;
  height: 50vh;
  width: 45%;
  margin-left: 5%;
  /* background-color: aquamarine; */
  float: left;
}
.col2{
  position: relative;
  top: 17%;
  height: 50vh;
  width: 45%;
  /* background-color: aquamarine; */
  float: left;
}


/* page5 */
.page5{
  height: 100vh;
  width: 100%;
  background-color: #A5BFCC;
  text-align: center;
}
.col11  ,.col12 ,.col13{
  position: relative;
  top: 17%;
  height: 80vh;
  width: 27%;
  margin-left: 5%;
  float: left;
}
.fs ,.sd{
  width: 80%;
  margin-top: 5%;
}
.img-fluid:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

 .img-fluid{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
 } 

/* hire */

.modal-header{
  background-color: #4C585B !important;
}
.fs-5{
  text-align: center !important;
}
.modal-body{
  background-color: #A5BFCC !important;
}
.btf{
  background-color: #4C585B !important;
  color: white !important;
  margin-left: 45%;
  margin-top: 3%;
}
a{
  color: white !important;
  text-decoration: none;
}


/* mobile */
@media screen and (max-width:480px) {
    /* header */
    .h21{
      display: none;
      visibility: hidden;
    }
    .h24{
      display: block;
      visibility: visible;
    }
    .dropdown-menu{
      background-color: #4C585B !important;
    }
    .bg5{
      color: white !important;
    }
    .fl{
      width: 100%;
      display: flex;
      gap: 3%;
    }
  /* page1 */
  .text1{
      width: 90%;
      height: 60vh;
      margin-left: 5%;
      position: relative;
      top: 30%;
      float: left;
    }
    .text1 h2{
      font-size: 1.7rem;
    }
    .text1 h1{
      font-size: 3.5rem;
    }
      /* page2 */

      .img2{
        width: auto;
        margin-left: auto;
        height: auto ;
      }
      .page2{
        height: 150vh;
      }
      .pi{
        top: 10%;
      }
      .text2{
        width: 90%;
        height: auto;
        position: relative;
        top: 28%;
      }
      .text2 h1{
        font-size: 1.6rem;
      }
      .text2 h4{
        font-size: 1rem;
      }
      .text2 h5{
        font-size: 1rem;
      }
      .t3{
        width: 38%;
      height: 7vh;
      }
      /* page3 */

      .page3{
        height: 70vh;
      }
      .skc1,.skc2{
        margin-left: 16%;
      }
      /* page4 */
      .page4{
        height: 110vh;
      }
      .col1,.col2{
        float: none;
        width: 90%;
        top: 20%;
        margin: auto;
        height: auto;
      }
      .col2{
        top: 30%;
      }
      .col2 h3{
        font-size: 1.1rem;
      }
      .g5{
        display: none;
        visibility: hidden;
      }

      /* page5 */
      .col11,.col12,.col13{
        width: 90%;
        height: auto;
        margin-left: 5%;
        float: none;
        top: 20%;
        margin: auto;
      }
      

}

/* tablet */

@media screen and (max-width:768px) and (min-width:480px){
  /* header */
  .h21{
    display: none;
    visibility: hidden;
  }
  .h24{
    display: block;
    visibility: visible;
  }
  .dropdown-menu{
    background-color: #4C585B !important;
  }
  .bg5{
    color: white !important;
  }
  .fl{
    width: 100%;
    display: flex;
    gap: 3%;
  }
/* page1 */
.text1{
    width: 90%;
    height: 60vh;
    margin-left: 5%;
    position: relative;
    top: 30%;
    float: left;
  }
  .text1 h2{
    font-size: 1.7rem;
  }
  .text1 h1{
    font-size: 3.5rem;
  }
    /* page2 */
    .img2{
      width: auto;
      margin-left: auto;
      height: auto ;
    }
    .page2{
      height: 230vh;
    }
    .pi{
      top: 10%;
    }
    .text2{
      width: 90%;
      height: auto;
      position: relative;
      top: 28%;
    }
    .text2 h1{
      font-size: 1.6rem;
    }
    .text2 h4{
      font-size: 1rem;
    }
    .text2 h5{
      font-size: 1rem;
    }
    .t3{
      width: 38%;
    height: 7vh;
    }
    /* page3 */

    .page3{
      height: 70vh;
    }
    .skc1,.skc2{
      margin-left: 16%;
    }
    /* page4 */
    .page4{
      height: 110vh;
    }
    .col1,.col2{
      float: none;
      width: 90%;
      top: 20%;
      margin: auto;
      height: auto;
    }
    .col2{
      top: 30%;
    }
    .col2 h3{
      font-size: 1.1rem;
    }
    .g5{
      display: none;
      visibility: hidden;
    }

    /* page5 */
    .col11,.col12,.col13{
      width: 90%;
      height: auto;
      margin-left: 5%;
      float: none;
      top: 20%;
      margin: auto;
    }
    

}
@media screen and (max-width:1100px)and (min-width:768px){
  .page2{
    height: 160vh;
  }
  .text1{
    width: 70%;
  }
  .t3{
    width: 30%;
  }
}
@media screen and (max-width:1208px) and (min-width:1100px){
  .page2{
    height: 110vh;
  }
  .text1{
    width: 70%;
  }
  .t3{
    width: 30%;
  }
}